{% extends '__base__.html' %}

{% block title %} Comments {% endblock %}

{% block beforehead %}
<script>
function initVM(data) {
    var vm = new Vue({
        el: '#vm',
        data: {
            comments: data.comments,
            page: data.page
        },
        methods: {
            delete_comment: function (comment) {
                if (confirm('Are you sure you want to delete this comment? It would be unrecoverable')) {
                    postJSON('/api/comments/' + comment.id + '/delete', function (err, r) {
                        if (err) {
                            return alert(err.message || err.error || err)
                        }
                        refresh()
                    })
                }
            }
        }
    })
    $('#vm').show()
}
$(function() {
    getJSON('/api/comments', {
        page: {{ page  }}
    }, function (err, results) {
        if (err) {
            return fetal(err)
        }
        $('#loading').hide();
        initVM(results)
        })
})
</script>
{% endblock %}

{% block content %}
<div class='uk-width-1-1 uk-margin-bottom'>
    <div class='uk-panel uk-panel-box'>
        <ul class='uk-breadcrumb'>
            <li class='uk-active'><span> Comments </span></li>
            <li><a href='/manage/blogs'> Blogs </a></li>
            <li><a href='/manage/users'> Users </a></li>
        </ul>
    </div>
</div>
<div id='error' class='uk-width-1-1'></div>
<div id='loading' class='uk-width-1-1 uk-text-center'>
    <span><i class='uk-icon-spinner uk-icon-medium uk-icon-spin'></i> Loading... </span>
</div>
<div id='vm' class='uk-width-1-1'>
    <table class='uk-table uk-table-hover'>
        <thead>
            <tr>
                <th class='uk-width-5-10'> Content </th>
                <th class='uk-width-2-10'> Author </th>
                <th class='uk-width-2-10'> Created at </th>
                <th class='uk-width-1-10'> Operation </th>
            </tr>
        </thead>
        <tbody>
            <tr v-repeat='comment: comments'>
                <td>
                    <span v-text='comment.content'></span>
                </td>
                <td>
                    <span v-text='comment.user_name'></span>
                </td>
                <td>
                    <span v-text='comment.created_at.toDateTime()'></span>
                </td>
                <td>
                    <a href='#0' v-on='click: delete_comment(comment)'><i class='uk-icon-trash-o'></i>
                </td>
            </tr>
        </tbody>
    </table>
    <div v-component='pagination' v-with='page'></div>
</div>
{% endblock %}
