{% extends '__base__.html' %}

{% block title %} Users {% endblock %}

{% block beforehead %}
<script>
function initVM(data) {
    var vm = new Vue ({
        el: '#vm',
        data: {
            users: data.users,
            page: data.page
        },
        methods: {
            delete_user: function (user) {
                if (confirm('Are your sure you want to delete this user?')) {
                    postJSON('/api/users/' + user.id + '/delete', function (err, r) {
                        if (err) {
                            return alert(err.message || err.error || err)
                        }
                        refresh()
                    })
                }
            }
        }
    })
    $('#vm').show()
}
$(function() {
    getJSON('/api/users', {
        page: {{ page }}
    }, function (err, results) {
        if (err) {
            return fetal(err)
        }
        $('#loading').hide()
            initVM(results)
    })
})
</script>
{% endblock %}

{% block content %}
<div class='uk-width-1-1 uk-margin-bottom'>
    <div class='uk-panel uk-panel-box'>
        <ul class='uk-breadcrumb'>
            <li><a href='/manage/comments'> Comments </a></li>
            <li><a href='/manage/blogs'> Blogs </a></li>
            <li class='uk-active'><span> Users </span></li>
        </ul>
    </div>
</div>
<div id='error' class='uk-width-1-1'></div>
<div id='loading' class='uk-width-1-1 uk-text-center'>
    <span><i class='uk-icon-spinner uk-icon-medium uk-icon-spin'></i> Loading </span>
</div>
<div id='vm' class='uk-width-1-1'>
    <table class='uk-table uk-table-hover'>
        <thead>
        <tr>
            <th class='uk-width-4-10'> UserName </th>
            <th class='uk-width-2-10'> Email </th>
            <th class='uk-width-2-10'> Created at </th>
            <th class='uk-width-1-10'> Admin </th>
            <th class='uk-width-1-10'> Operation </th>
        </tr>
        </thead>
        <tbody>
            <tr v-repeat='user: users'>
                <td>
                    <span v-text='user.name'></span> 
                </td>
                <td>
                    <span v-text='user.email'></span>
                </td>
                <td>
                    <span v-text='user.created_at.toDateTime()'></span>
                </td>
                <td>
                    <span v-text='user.admin'></span>
                </td>
                <td>
                    <a href='#0' v-on='click: delete_user(user)'><i class='uk-icon-trash-o'></i>
                </td>
            </tr>
        </tbody>
    </table>
    <div v-component='pagination' v-with='page'></div>
</div>
{% endblock %}
